h1 {
  text-align: center;
}

.menu {
  text-align: center;
}

.menu li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.top_image {
  text-align: center;
}

table {
  margin: auto;  
}

th {
  background-color: #5a9ed4;
}
td {
  background-color: #abcce6;
}
